includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    
    # The level 9 is the highest level
    level: 5
    
    ignoreErrors: []
    
    excludePaths:
        - src/config/*
        - tests/*
        - vendor/*
    

    
    # Laravel specific configurations
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Collection
        
    # Firestore specific configurations
    dynamicConstantNames:
        - CREATED_AT
        - UPDATED_AT
        
    # Allow mixed types for Firestore data
    treatPhpDocTypesAsCertain: false
